extends ../main.layout.pug

block variables
  - var title = 'Обо мне';
  - var skill = '94%';
  - var skill2 = '14%';

block scripts
  script(src='about.bundle.js')

block content
  h1 Страничка "Обо Мне и еще что-то"
   circle(cx="50" cy="50" r="40" class=`skill__circle_above--${skill}`).skill__circle.skill__circle_above #{skill2}